<html>

<head>
    <!--META-->
    <meta charset="UTF-8">
    <title>RobotMe</title>
    <!--STYLESHEET-->
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/libs/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>

<body>
    <!--SECTIONS -->
    <!-- navbar -->
    <div class="navbar-container">
        <div id="navbar" class="navbar white-background">
            <img id="logo" class="logo" src="../static/assets/logo.png">
        </div>
    </div>
    <!-- create project modal -->
    <div class="center">
        <h1>404</h1>
        <img src="../static/assets/001-interface.svg" alt="">
        <h3>Ups! no encontramos lo que estas buscando</h3>
        <a href="/">Vuelve al inicio</a>
    </div>
    <!-- SCRIPTS -->
    <script src="../static/scripts/libs/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/libs/jquery-ui.min.js"></script>
    <script src="../static/scripts/modal.js" defer></script>
    <script src="../static/scripts/tutorial.js" defer></script>
    <script src="../static/scripts/index.js" defer></script>
</body>

</html>