<html>

<head>
    <!--META-->
    <meta charset="UTF-8">
    <title>RobotMe: Codificar</title>
    <!--STYLESHEET-->
    <link rel="stylesheet" href="../static/styles/libs/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/code.css">
    <link rel="stylesheet" href="../static/styles/libs/codemirror.css">
    <link rel="stylesheet" href="../static/styles/libs/tomorrow-night-bright.css">
</head>

<body>
    <!--SECTIONS -->
    <!-- navbar -->
    <div class="navbar-container">
        <div id="navbar" class="navbar white-background">
            <button class="help-button" onclick="openTutorial()"><i class="fa fa-question"></i></button>
            <img id="logo" class="logo" src="../static/assets/logo.png">
        </div>
        <div id="connection-indicator" class="connection-indicator">
            <span>Conectado!</span>
        </div>
    </div>
    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="show-selected-variables">
            <table>
                <thead>
                    <tr>
                        <th>Pin</th>
                        <th>Tipo</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody id="selected-variables">

                </tbody>
            </table>
            <table id="errors">
                <thead>
                    <th class="error-th">
                        Errores
                    </th>
                </thead>
                <tbody id="error-desc">
                </tbody>
            </table>
        </div>
        <div id="accordion">
            <h3 class="accordion-toggle">
                <i class="fa fa-chevron-right"></i>
                Variables
            </h3>
            <div class="accordion-content">
                <p>Las variables son espacios reservados en la memoria que, como su nombre indica, pueden cambiar de contenido
                    a lo largo de la ejecución de un programa.</p>
                <p>Los nombres de tus variables deben tener un nombre descriptivo, y debe seguir las siguientes normas:</p>
                <ul>
                    <li>No debe tener espacios.</li>
                    <li>No deben tener numeros.</li>
                    <li>No deben tener mayusculas.</li>
                </ul>
                <p>
                    una buena practica para nombrar variables es de separarlas con "_".
                    <span class="code-span">brazo_zombie_derecho</span> se lee mejor que
                    <span class="code-span">brazozombiederecho</span>.
                </p>
                <p>
                    Siempre deben tener un valor inicial:
                </p>
                <div class="looks-like-code">
                    <span class="cm-comment">#Pueden ser cadenas o strings</span>
                    <br> saludo =
                    <span class="cm-string">'Hola Mundo'</span>
                    <br>
                    <span class="cm-comment">#o numeros</span>
                    <br> edad =
                    <span class="cm-number">14</span>
                </div>
                <p>Darle un valor inicial a una variable se llama 'inicializar', y debemos hacerlo todo el tiempo.</p>
            </div>
            <h3 class="accordion-toggle">
                <i class="fa fa-chevron-right"></i>
                Movimiento
            </h3>
            <div class="accordion-content">
                <p>Los elementos capaces de causar moviemiento son los
                    <b>servos</b> y los
                    <b>motores DC.</b>
                </p>
                <h3>Servo</h3>
                <p>Para controlar un servo tienes la instruccion
                    <span class="code-span">girar</span>, debes usarla de esta manera:</p>
                <div class="looks-like-code">
                    <span class="cm-comment">#girar [variable] [posicion] grado</span>
                    <br>
                    <span class="cm-comment">#Ejemplo: esta linea gira 'brazo' al grado 0</span>
                    <br>
                    <span class="cm-servo">girar</span> brazo
                    <span class="cm-number">0 </span>
                    <span class="cm-servo">grados</span>
                </div>
                <p>Puedes girar un servo a las posiciones 0, 90 y 180 grados.</p>
                <h3>Motor</h3>
                <p>Para controlar un motor tienes las instrucciones
                    <span class="code-span">mover</span> y
                    <span class="code-span">parar</span>, debes usarla de esta manera:</p>
                <div class="looks-like-code">
                    <span class="cm-comment">#Para mover un motor</span>
                    <br>
                    <span class="cm-motor">mover</span> rueda
                    <br>
                    <span class="cm-comment">#Para parar un motor</span>
                    <br>
                    <span class="cm-motor">parar</span> rueda
                </div>
            </div>
            <h3 class="accordion-toggle">
                <i class="fa fa-chevron-right"></i>
                Salida
            </h3>
            <div class="accordion-content">
                <p>Los elementos que pueden ser utilizados en los pines de salida son los
                    <b>leds</b> y los
                    <b>buzzers.</b>
                </p>
                <h3>LEDS</h3>
                <p>Los LEDS son diodos emisores de luz, los cuales tienen la función de convertir la corriente eléctrica de
                    bajo voltaje en luz. Para controlar un LED tienes las siguientes intrucciones:
                    <span class="code-span">encender</span>, debes usarla de esta manera:</p>
                <div class="looks-like-code">
                    <span class="cm-comment">#encender</span>
                    <br>
                    <span class="cm-comment">#Ejemplo: esta linea enciende el LED</span>
                    <br>
                    <span class="cm-ledbuzzer">encender</span> led
                </div>
                <br>
                <span class="code-span">apagar</span>, debes usarla de esta manera:</p>
                <div class="looks-like-code">
                    <span class="cm-comment">#apagar</span>
                    <br>
                    <span class="cm-comment">#Ejemplo: esta linea apaga el LED</span>
                    <br>
                    <span class="cm-ledbuzzer">apagar</span> led
                </div>
                <br>
                <h3>Buzzer</h3>
                <p>Un buzzer es un elemento cuya función es transformar la energía eléctrica en acústica, de manera que se emita
                    un sonido. Para controlar un buzzer tienes las siguientes instrucciones:
                    <span class="code-span">encender</span> y debes usarla de esta manera:
                    <div class="looks-like-code">
                        <span class="cm-comment">#Para encender el buzzer</span>
                        <br>
                        <span class="cm-comment">#Ejemplo: esta linea enciende el buzzer</span>
                        <br>
                        <span class="cm-ledbuzzer">encender</span> buzzer
                    </div>
                    <br>
                    <span class="code-span">apagar</span>, debes usarla de esta manera:</p>
                <div class="looks-like-code">
                    <span class="cm-comment">#Para apagar el buzzer</span>
                    <br>
                    <span class="cm-comment">#Ejemplo: esta linea apaga el buzzer</span>
                    <br>
                    <span class="cm-ledbuzzer">apagar</span> buzzer
                </div>
            </div>
            <h3 class="accordion-toggle">
                <i class="fa fa-chevron-right"></i>
                Entrada
            </h3>
            <div class="accordion-content">
                <p>Los elementos que pueden ser utilizados en los pines de entrada son los
                    <b>botones</b> y el
                    <b>sensor PIR.</b>
                </p>
                <h3>Botones</h3>
                <p>Un botón (pulsador) es un operador eléctrico que, cuando se oprime, permite el paso de la corriente eléctrica
                    y, cuando se deja de oprimir, lo interrumpe. Permitiendo así la ejecución de diversas actividades. Para
                    el boton tienes las siguientes intrucciones:
                    <span class="code-span">cuando variable detecte [alto, bajo] entonces</span>, debes usarla de esta manera:</p>
                <div class="looks-like-code">
                    <span class="cm-comment">#cuando detecte alto</span>
                    <br>
                    <span class="cm-comment">#Ejemplo: </span>
                    <br>
                    <span class="cm-interruption">cuando </span> boton
                    <span class="cm-interruption">detecte alto</span>
                    <span class="cm-control">entonces</span>:
                    <br>
                    <br>
                    <span class="cm-comment">#cuando detecte bajo</span>
                    <br>
                    <span class="cm-comment">#Ejemplo: </span>
                    <br>
                    <span class="cm-interruption">cuando </span> boton
                    <span class="cm-interruption">detecte bajo</span>
                    <span class="cm-control">entonces</span>:
                </div>
                <br>
                <h3>Sensor PIR</h3>
                <p>El sensor infrarrojo pasivo (o sensor PIR) es un sensor electrónico que mide la luz infrarroja (IR) radiada
                    de los objetos situados en su campo de visión, permitiendo así percibir movimientos, detectar objetos,
                    etc. Para controlar un sensor PIR tienes las siguientes instrucciones:
                    <span class="code-span">cuando variable detecte [alto, bajo] entonces</span>, debes usarla de esta manera:</p>
                <div class="looks-like-code">
                    <span class="cm-comment">#cuando detecte alto</span>
                    <br>
                    <span class="cm-comment">#Ejemplo: </span>
                    <br>
                    <span class="cm-interruption">cuando </span> sensor
                    <span class="cm-interruption">detecte alto</span>
                    <span class="cm-control">entonces</span>:
                    <br>
                    <br>
                    <span class="cm-comment">#cuando detecte bajo</span>
                    <br>
                    <span class="cm-comment">#Ejemplo: </span>
                    <br>
                    <span class="cm-interruption">cuando </span> sensor
                    <span class="cm-interruption">detecte bajo</span>
                    <span class="cm-control">entonces</span>:
                </div>
                <p><b><i class="fa fa-clock"></i> Toma en cuenta:</b> Los sensores pir tardan de 30 a 60 segundos en funcionar correctamente</p>
            </div>
            <h3 class="accordion-toggle">
                <i class="fa fa-chevron-right"></i>
                Otros
            </h3>
            <div class="accordion-content">
                <h3>Comentario</h3>
                <p>Los comentarios son utiles para explicar tu codigo ya que son ignorados al momento de correr el codigo, comienzan con el simbolo <span class="code-span">#</span></p>
                <div class="looks-like-code">
                    <span class="cm-comment">#Ejemplo: </span>
                    <br>
                    <span class="cm-comment">#Este codigo no se ejecutara nunca</span>
                    <br>
                    <span class="cm-comment">#encender led</span>
                </div>
                <br>
                <h3>Decir</h3>
                <p>La consola del sistema es un terminal que tiene atributos especiales y se utiliza para determinados fines.
                    En este caso, el fin sería el de verificar como esta ejecutandose el programa previamente realizado.
                    Para poder utilizar la consola de esta manera tienes las siguientes instrucciones:
                    <span class="code-span">decir [mensaje]</span>, debes usarla de esta manera:</p>
                    <div class="looks-like-code">
                        <span class="cm-comment">#Ejemplo: </span>
                        <br>
                        <span class="cm-comment">#Puedes usar decir con numeros</span><br>
                        <span class="cm-other">decir</span>
                        <span class="cm-number">24</span>
                        <br>
                        <span class="cm-comment">#o con variables</span><br>
                        <span class="cm-other">decir</span>
                        mensaje
                        <br>
                        <span class="cm-comment">#Tambien con oraciones entre comillas</span><br>
                        <span class="cm-other">decir</span>
                        <span class="cm-string">'Hola mundo!'</span><br>
                        <span class="cm-comment">#Y combinando con el simbolo +</span><br>
                        <span class="cm-other">decir</span>
                        <span class="cm-string">'Saludos'</span> + nombre 
                        <br>
                    </div>
                <br>
                <h3>Esperar</h3>
                <p>La finalidad de esta función es la de detenr la ejecución del programa por una cantidad de segundos determinada.
                    Para poder detener el programa tienes la siguiente instruccion:
                    <span class="code-span">esperar [numero] segundos</span>, debes usarla de esta manera:</p>
                <div class="looks-like-code">
                    <span class="cm-comment">#Ejemplo: </span>
                    <br>
                    <span class="cm-other">esperar</span>
                    <span class="cm-number">24</span>
                    <span class="cm-other">segundos</span>
                    <br>
                </div>
                <br>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <!-- CODEMIRROR -->
    <div class="code-container">
        <textarea id="codemirror" name=""></textarea>
    </div>
    <!-- FOOTER -->
    <div class="footer">
        <button class="project-button" onclick="goToVariables()">
            <i class="fa fa-chevron-left"></i> Variables</button>
        <div class="code-buttons">
            <span id="last-saved"></span>
            <button class="project-button" onclick="editor.undo()">
                <i class="fa fa-undo"></i>
            </button>
            <button class="project-button" onclick="editor.redo();">
                <i class="fa fa-repeat"> </i>
            </button>
            <button class="project-button" onclick="save()">
                <i class="fa fa-floppy-o"></i>
            </button>
            <button class="project-button" onclick="parseAndUpload()">
                <i class="fa fa-play"></i></button>
        </div>
    </div>
    <!-- CONSOLE -->
    <div id="console-modal" class="modal">
        <div class="modal-content console-background">
            <div id="console">
                
            </div>
            <div id="console-buttons">
                <button id='run-button' class="project-button" onclick="run()"><i class="fa fa-play"></i> Correr</button>
                <button disabled='true' id='stop-button' class="project-button disabled" onclick="stop()"><i class="fa fa-stop"></i> Parar</button>
                <button class="project-button" onclick="edit()"><i class="fa fa-pencil"></i></button>
            </div>
        </div>
    </div>
    <!-- tutorial modal -->
    <div id="tutorial-modal" class="modal">
        <div class="modal-content">
            <div class="carousell">
                <div class="carousell-content">
                    <div class="carousell-page">
                        <img src="../static/assets/gifs/code_1.gif" alt="">
                        <h3>¿Tienes dudas?</h3>
                        <p>Encuentra las respuestas en el panel a tu izquierda sobre como programar los componentes que escogiste</p>
                    </div>
                    <div class="carousell-page" style="display: none">
                        <img src="../static/assets/gifs/code_2.gif" alt="">
                        <h3>Correr codigo</h3>
                        <p>cuando estes listo para correr el codigo, haz click en el boton <i class="fa fa-play"></i> en la esquina inferior derecha
                        </p>
                    </div>
                    <div class="carousell-page" style="display: none">
                        <img src="../static/assets/gifs/code_6.gif" alt="">
                        <h3>¡Oh no! un error ha aparecido</h3>
                        <p>Todos cometemos errores, ¡por suerte se pueden corregir facilmente! solo es cuestion de editarlos. para saber cuales son, revisa el cuadro de errores</p>
                    </div>
                    <div class="carousell-page" style="display: none">
                        <img src="../static/assets/gifs/code_3.gif" alt="">
                        <h3>¿Necesitas hacer cambios?</h3>
                        <p>Si tu codigo corre bien, pero te gustaria cambiar cosas, solo haz click en el boton <i class="fa fa-pencil"></i> y podras volver al editor</p>
                    </div>
                    <div class="carousell-page" style="display: none">
                        <img src="../static/assets/gifs/code_4.gif" alt="">
                        <h3>¡estas conectado!</h3>
                        <p>¡Tus cambios se guardan automaticamente! y podras correr tu codigo sin problemas</p>
                    </div>
                    <div class="carousell-page" style="display: none">
                        <img src="../static/assets/gifs/code_5.gif" alt="">
                        <h3>¿desconectado?</h3>
                        <p>Tus cambios igual se guardaran, pero no podras correr tu codigo, ¡pide ayuda para resolver el problema!</p>
                    </div>
                </div>
                <div class="carousell-buttons">
                    <button class="project-button" id="back" onclick="back()">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <span id="carousell-current"></span>
                    <button class="project-button" id='next' onclick="next()">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <button class="project-button saltar" onclick="closeTutorial()">Entendido</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/scripts/libs/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/libs/jquery-ui.min.js"></script>
    <script src="../static/scripts/libs/socket.io.js"></script>
    <script src="../static/scripts/libs/codemirror.js"></script>
    <script src="../static/scripts/libs/python.js"></script>
    <script src="../static/scripts/code.js"></script>
    <script src="../static/scripts/tutorial.js"></script>
    <script src="../static/scripts/parser.js"></script>
    <script src="../static/scripts/run.js"></script>
</body>

</html>