<html>

<head>
    <!--META-->
    <meta charset="UTF-8">
    <title>RobotMe</title>
    <!--STYLESHEET-->
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/libs/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>

<body>
    <!--SECTIONS -->
    <!-- navbar -->
    <div class="navbar-container">
        <div id="navbar" class="navbar white-background">
            <img id="logo" class="logo" src="../static/assets/logo.png">
        </div>
    </div>
    <!-- create project modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">
                <i class="fa fa-close"></i>
            </span>
            <div class="form">
                <h2>Crea un nuevo robot</h2>
                <div class="form-div">
                    <label class="input-form">Nombre del proyecto:
                        <input id="nme_project" type="text" title="test" name="title">
                        <div class="popup">
                            <span class="popuptext" id="nameErrorPopup">¡Escribe un nombre!</span>
                        </div>
                    </label>
                    <label class="input-form">Autor:
                        <input id="aut_project" type="text" name="author">
                        <div class="popup">
                            <span class="popuptext" id="authorErrorPopup">¡Escribe un autor!</span>
                        </div>
                    </label>
                </div>
                <label>Etiqueta:</label>
                <div class="radio-group">
                    <div class='radio green' data-value="robot">
                        <img src="../static/assets/006-robot.svg">
                    </div>
                    <div class='radio orange' data-value="school">
                        <img src="../static/assets/001-open-magazine.svg">
                    </div>
                    <div class='radio pink' data-value="idea">
                        <img src="../static/assets/002-light-bulb.svg">
                    </div>
                    <div class='radio purple' data-value="science">
                        <img src="../static/assets/003-rocket.svg">
                    </div>
                    <div class='radio blue' data-value="electricity">
                        <img src="../static/assets/004-lightning-bolt.svg">
                    </div>
                    <div class='radio teal' data-value="game">
                        <img src="../static/assets/005-console.svg">
                    </div>
                   <div class="popup" style="top:-18%">
                        <span class="popuptext" id="tagErrorPopup">¡Selecciona una etiqueta!</span>
                    </div>
                </div>
                <button onclick="postNewProject()" class="project-button">¡a codificar!
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- projects -->
    <div id="projects">
    </div>
    <!-- create project floating button -->
    <button id="myBtn">
        <i class="fa fa-plus"></i>
    </button>

    <!-- delete project modal confirmation -->
    <div class="modal" id="deleteModal">
        <div class="modal-content">
            <span class="close">
                <i class="fa fa-close"></i>
            </span>
            <div class="delete-buttons">
                <h2>Estas seguro que quieres borrar este proyecto?</h2>
                <div id="project_info">
                    
                </div>
                <div>
                    <button class="button-delete" id="button-delete" onclick="deleteProject()">Si, estoy seguro</button>
                    <button class="button-cancel" id="button-cancel" onclick="cancel()">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- SCRIPTS -->
    <script src="../static/scripts/libs/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/libs/jquery-ui.min.js"></script>
    <script src="../static/scripts/modal.js" defer></script>
    <script src="../static/scripts/index.js" defer></script>
</body>

</html>