<html>

<head>
    <!--META-->
    <meta charset="UTF-8">
    <title>RobotMe: Variables</title>
    <!--STYLESHEET-->
    <link rel="stylesheet" href="../static/styles/libs/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/variables.css">
</head>

<body>
    <!--SECTIONS -->
    <!-- navbar -->
    <div class="navbar-container">
        <div id="navbar" class="navbar white-background">
            <img id="logo" class="logo" src="../static/assets/logo.png">
        </div>
    </div>
    <!--SELECTION MENU-->
    <div class="container">
        <div class="container-variables">
            <div class="selecction-menu shadow">
                <div class="element-holder">
                    <div class="element-label">
                        <div data-type="servo" class="element purple element-output">
                            <img src="../static/assets/007-servo.svg" alt="">
                        </div>
                        Servo
                    </div>
                    <div class="element-label">
                        <div data-type="dc" class="element teal element-output">
                            <img src="../static/assets/003-technology.svg" alt="">
                        </div>
                        Motor DC
                    </div>
                </div>
                <div class="element-holder">
                    <div class="element-label">
                        <div data-type="led" class="element green element-output">
                            <img src="../static/assets/006-diode.svg" alt="">
                        </div>
                        LED
                    </div>
                    <div class="element-label">
                        <div data-type="buzzer" class="element blue element-output">
                            <img src="../static/assets/005-buzzer.svg" alt="">
                        </div>
                        Buzzer
                    </div>
                </div>
                <div class="element-holder">
                    <div class="element-label">
                        <div data-type="button" class="element pink element-input">
                            <img src="../static/assets/001-switch.svg" alt="">
                        </div>
                        Boton
                    </div>
                    <div class="element-label">
                        <div data-type="pir" class="element orange element-input">
                            <img src="../static/assets/004-sensor.svg" alt="">
                        </div>
                        Sensor PIR
                    </div>
                </div>
            </div>
            <div class="pi shadow">
                <div class="pin-holder">
                    <div id="pin-1" data-value="1" class="pin output-pin output-pin-marker">1</div>
                    <div id="pin-2" data-value="2" class="pin output-pin output-pin-marker">2</div>
                </div>
                <div class="pin-holder">
                    <div id="pin-3" data-value="3" class="pin output-pin output-pin-marker">3</div>
                    <div id="pin-4" data-value="4" class="pin output-pin output-pin-marker">4</div>
                </div>
                <div class="pin-holder">
                    <div id="pin-5" data-value="5" class="pin output-pin output-pin-marker">5</div>
                    <div id="pin-6" data-value="6" class="pin output-pin output-pin-marker">6</div>
                </div>
                <div class="pin-holder">
                    <div id="pin-7" data-value="7" class="pin input-pin input-pin-marker">7</div>
                    <div id="pin-8" data-value="8" class="pin input-pin input-pin-marker">8</div>
                </div>
            </div>
            <div class="variables-selected shadow">
                <h3>¡Nombra tus variables!</h3>
                <p>Es importante que le des un nombre descriptivo a tu variable, debe ser unico, no puede empezar con un numero, y ¡no deben
                    haber espacios ni mayusculas! Ejemplo:
                    <span class="code-span">brazo_derecho</span>
                </p>
                <table id="table-selected-variables" class="table-variables">
                    <thead>
                        <tr>
                            <th>Pin</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody id="selected-variables">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="delete-drop-zone">
            <i class="fa fa-trash fa-2x "></i>
        </div>
        <div class="variables-buttons">
            <button class="button-delete" onclick="deleteAll()">Borrar todo</button>
            <button href="/variables/set" onClick="sendVariables()" class="project-button">Siguiente
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div id="no-variables" class="toast">
        ¡Debes tener al menos una variable!
    </div>
    <div id="no-repetition" class="toast">
        ¡No debes tener nombres repetidos!
    </div>
    <div id="wrong-names" class="toast">
        ¡Tienes un nombre con errores!
    </div>
    <script src="../static/scripts/libs/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/libs/jquery-ui.min.js"></script>
    <script src="../static/scripts/variables.js"></script>
</body>

</html>