@font-face {
    font-family: ubuntu;
    src: url("../assets/Ubuntu-Regular.ttf");
}

.navbar {
    box-shadow: none !important;
}

body {
    background-color: #132F3A;
}

.sidebar {
    position: fixed;
    height: 90%;
    background-color: white;
    width: 30%;
    left: 0;
    top: 60px;
    -webkit-box-shadow: inset 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
}

.code-container {
    width: 70%;
    position: absolute;
    top: 60px;
    left: 30%;
    z-index: -1;
    height: 69%;
}

.CodeMirror {
    height: 120% !important;
    font-family: ubuntu, monospace !important;
}

.connection-indicator {
    position: fixed;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: 0.5s;
    background-color: #6ED79F;
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 12px -5px rgb(0, 255, 34);
    overflow: hidden;   
}
.connection-indicator:hover{
    width:120px;
    transition: 0.5s;
    overflow: hidden;
}
.connection-indicator > span{
    position: relative;
    top: 5px;
    left: 15px;
    color: transparent;
    transition: 0.5s;
}
.connection-indicator:hover > span{
    color: white;
    transition: 0.5s;    
} 

/* .accordion{
    padding: 10px;
}
.accordion > div{
    display: inline;
} */

.accordion-toggle {
    cursor: pointer;
    padding-left: 10px;
}

.accordion-content {
    display: none;
    padding: 0px 10px;
}

.accordion-content.default {
    display: block;
}
.accordion-content > p {
    line-height: 1.8;
    margin: 5px;
}
.accordion-content > h3{
    margin: 0px;
    padding: 3px;
    padding-left: 10px;
    border-radius: 3px;
}

.code-buttons{
    float: right;
}
.looks-like-code {

    font-family: ubuntu;
    font-size: initial;
    background-color: #132F3A;
    color: white;
    padding: 10px;
    border-radius: 3px;

}
.cm-string { color: #e7c547; }
.cm-servo { color: #AA00FF; }
.cm-motor { color: #00FFAA; }
.cm-ledbuzzer { color: #AAFF00; }
.cm-interruption { color: #FF00AA; }
.cm-control { color: #FFAA00; }
.cm-other { color: #00AAFF; }
.cm-comment { color: rgb(167, 167, 167) }
.cm-number { color: #a16a94; }

.show-selected-variables table{
    width: 100%;
    padding: 10px;
}
th {
    background-color: #6ED79F;
    border-radius: 3px;
}
.td-grey {
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 2px;
    text-align: center
}
.mini-element {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.alert{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
}