/*COLORS
Dark Blue #080F2B
Dark Teal #132F3A CONSOLE and EDITOR
Teal #6ED79F
Pink #DA3C6C
*/

@font-face {
    font-family: nunito;
    src: url("../assets/Nunito-Regular.ttf");
}
@font-face {
    font-family: ubuntu;
    src: url("../assets/Ubuntu-Regular.ttf");
}

body,
h1,
h2,
h3,
h4,
p,
span {
    font-family: nunito, sans-serif;
    color: #132F3A
}

.white-background {
    background-color: white;
}

.navbar-container {
    position: relative;
    height: 60px;
}

.navbar {
    /*postition*/
    position: fixed;
    top: 0;
    left: 0;
    /*dimensions*/
    height: 60px;
    width: 100%;
    /*postion of childs*/
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    /*shadow*/
    box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.75);
}

.logo {
    /*dimension*/
    height: 60px;
    align-self: center;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#myBtn {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #6ED79F;
    -webkit-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.48);
    border: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    color: white;
    font-size: 35px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    /* Could be more or less, depending on screen size */
    box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    text-align: center;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.shadow {
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.48);
}

.project {
    width: 80%;
    margin: 20px auto;
    border-radius: 2px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    transition: 0.8s;
}

.project:hover {
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.48);
    transition: 0.8s;
}

.project_text>h2,
.project_text>h3 {
    margin: 0px;
}

.tag {
    width: 120px;
    height: 120px;
    /*border-radius: 100%;*/
    border-radius: 3px;
    margin-right: 20px;
}
.tag > img{
    width: 80px;
    height: 80px;
    margin: 20px;
}

.green {
    background-color: #AAFF00;
}

.orange {
    background-color: #FFAA00;
}

.pink {
    background-color: #FF00AA;
}

.purple {
    background-color: #AA00FF
}

.blue {
    background-color: #00AAFF
}

.teal {
    background-color: #00FFAA
}

.pink-text {
    color: #DA3C6C
}

.project_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30%; 
}

.project-button {
    padding: 10px 10px;
    margin: 10px;
    background-color: white;
    color: black;
    border: #6ED79F solid 2px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 18px;
    transition: 0.5s;
    font-weight: bold;
}

.project-button:hover {
    background-color: #6ED79F;
    color: white
}

.project-buttons {
    margin: auto 0px;
}

.delete {
    font-size: 30px;
    background-color: white;
    border: none;
}

.trash-icon {
    align-self: end;
}

/*MODAL CONTENT*/

.radio-group {
    position: relative;
}

.radio {
    display: inline-block;
    width: 100px;
    height: 100px;
    /*border-radius: 100%;*/
    border-radius: 3px;
    cursor: pointer;
    margin: 2px 0;
    transition: 0.5s;
    border: solid white 4px;
}

.radio.selected {
    border-color: #6ED79F;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 20px;
}

input {
    width: 240px;
    height: 30px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
    border: none;
    padding-left: 10px;
    font-family: ubuntu, monospace;
}

.radio>img {
    width: 70px;
    height: 70px;
    margin: 15px;
}
.input-form {
    margin: 10px;
}

/*CODE SPAN*/

.code-span {
    background-color: rgb(231, 231, 231);
    color: #FF00AA;
    font-family: ubuntu, monospace;
    padding: 3px;
    border-radius: 4px;
    white-space: nowrap;
    margin: 1px;
}

.footer {
    height: 66px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -5px 20px -4px rgba(0, 0, 0, 0.75);
    background-color: white;
}

.button-delete{
    padding: 10px 10px;
    margin: 10px;
    background-color:  #DA3C6C;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-size: 18px;
    border: none;
}
.button-cancel{
    padding: 10px 10px;
    margin: 10px;
    background-color:  #6ED79F;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-size: 18px;
    border: none;
}
.delete-buttons{
    display: inline;
    text-align: center;
}
.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 50%;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #DA3C6C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 5px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 38%;
    left: -5px;
    margin-left: -4px;
    border-width: 5px;
    border-style: solid;
    border-color: #DA3C6C transparent transparent transparent;
    transform: rotate(90deg);
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.toast{
    background-color: #DA3C6C;
    visibility: hidden;
    font-size: 16px;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    position: fixed;
    z-index: 1;
    left: 30px;
    bottom: 80px;
}
.toast.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;

}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 80px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom:80px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 80px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 80px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 

.carousell-page{
    text-align: center;
}
.carousell-page > img{
    width: 70%;
    max-width: 700px;
}
.carousell-buttons{
    text-align: center;
    width: 100%;;
}
.disabled{
    background-color: rgb(214, 214, 214);
    border: none;
}
.disabled:hover{
    background-color: rgb(214, 214, 214);
    border: none;
}
.saltar{
    border: none;
}
/*404*/
.center{
    text-align: center;
}
.center > img{
    width: 400px;
}

.help-button{
    position: fixed;
    left: 12px;
    top: 5px;
    color: grey;
    background-color: white;
    border: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
}